<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<title>DRAFT</title>
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
    integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">


<style>
    html,
    button,
    input,
    select,
    textarea,
    .pure-g [class *="pure-u"] {
        /* Set your content font stack here: */
        font-family: Consolas, monaco, monospace;
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
    }

    .l-box {
        padding: 1em;
    }
</style>

<div class="pure-g">
    <div class="pure-u-1">
        <center>
            <h1>AIB 2020</h1>
        </center>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1">
        <center>
            <h2>Good luck men</h2>
        </center>

    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1">
        <center>
            <table class="pure-table">
                <thead>
                    <tr>
                        <td><b>Team</b></td>
                        <td><b>Pick</b></td>
                    </tr>
                </thead>
                <tbody>
                    {% for pick in picks %}
                    <tr>
                        <td>{{  pick[0]  }}</td>
                        <td>{{  pick[1]  }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1">
        <center>
            <h3>Screw you Malc.</h3>
        </center>
    </div>
</div>